h1{
  color: #000;
}
.custom_img{
  height: 200px;
}

@media(width<700px)
{



  .custom_card {
    
    width: 350%;
}
.swiper-slide{
  width: 400px!important;
    margin-right: 20px!important;
  
}


}