button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.on {
  color:#FFD700;
}
.off {
  color: #434343;
}

.star-rating {
    font-size: 14px;
    /* color: #943131; */
}