.menu{
	display: block;
	width: 100%;

	background: #fff;
}


.layout1 {
    height: 100px;
    background: #f54748;
    justify-content: center;
    align-items: center;
    display: grid;

}
.layout1 h1{
	font-weight: 800;
}
